:root {
  --answer-button-shadow-offset: 5px;
}

/* MD */
@media (min-width: 768px) {
  :root {
    --answer-button-shadow-offset: 10px;
  }
}

.answer-button {
  box-shadow:
    0 var(--answer-button-shadow-offset) 0px 0px
      var(--answer-button-inactive-shadow),
    inset 0px 1px 0px 2px rgba(255, 255, 255, 0.1);

  font-size: calc(min(2dvh, 5dvw));
}

.answer-button:hover {
  transform: translateY(-2px);
  box-shadow:
    0 calc(var(--answer-button-shadow-offset) + 2px) 0px 0px
      var(--answer-button-hover-shadow),
    inset 0px 1px 0 0px rgba(255, 255, 255, 0.1);
}

.answer-button.selected {
  box-shadow:
    0 var(--answer-button-shadow-offset) 0px var(--answer-button-active-shadow),
    inset 0px 1px 0 2px rgba(255, 255, 255, 0.1);
  background-color: var(--answer-button-active);
}

.answer-button:active {
  transform: translateY(var(--answer-button-shadow-offset));
  box-shadow:
    0 0px 0px 0px var(--answer-button-inactive-shadow),
    inset 0px 1px 0 2px rgba(255, 255, 255, 0.1);
}

.answer-button.correct {
  background-color: var(--answer-correct);
  box-shadow:
    0 var(--answer-button-shadow-offset) 0px 0px var(--answer-correct-shadow),
    inset 0px 1px 0 2px rgba(255, 255, 255, 0.5);
}
.answer-button.incorrect {
  background-color: var(--answer-incorrect);
  box-shadow:
    0 var(--answer-button-shadow-offset) 0px 0px var(--answer-incorrect-shadow),
    inset 0px 1px 0 2px rgba(255, 255, 255, 0.1);

  color: rgba(255, 255, 255, 0.8);
}
