:root {
  --answer-button-shadow-offset: 5px;
}

/* MD */
@media (min-width: 768px) {
  :root {
    --answer-button-shadow-offset: 10px;
  }
}

.answer-button {
  box-shadow: 0 var(--answer-button-shadow-offset) 0px 0px
    var(--answer-button-inactive-shadow);

  font-size: calc(min(2dvh, 5dvw));

  & > .shine {
    box-shadow: inset 0px 1px 0 2px
      rgba(255, 255, 255, var(--shine-opacity, 0.1));
  }
}

@media (hover: hover) {
  .answer-button:hover {
    background-color: var(--answer-button-hover);
    transform: translateY(-2px);
    box-shadow: 0 calc(var(--answer-button-shadow-offset) + 2px) 0px 0px
      var(--answer-button-hover-shadow);
  }
}

.answer-button.selected {
  box-shadow: 0 var(--answer-button-shadow-offset) 0px
    var(--answer-button-active-shadow);
  background-color: var(--answer-button-active);
}

.answer-button:active {
  transform: translateY(var(--answer-button-shadow-offset));
  box-shadow: 0 0px 0px 0px var(--answer-button-inactive-shadow);
}

.answer-button.correct {
  background-color: var(--answer-correct);
  box-shadow: 0 var(--answer-button-shadow-offset) 0px 0px
    var(--answer-correct-shadow);

  & > .progress {
    background-color: var(--answer-correct-percentage);
  }

  --shine-opacity: 0.5;
}
.answer-button.incorrect {
  background-color: var(--answer-incorrect);
  box-shadow: 0 var(--answer-button-shadow-offset) 0px 0px
    var(--answer-incorrect-shadow);

  color: rgba(255, 255, 255, 0.8);
  & > .progress {
    background-color: var(--answer-incorrect-percentage);
  }
}

.save-progress-text {
  top: 0rem;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);

  transform-origin: center calc(100% + 1.25rem);

  animation: rotate 10s linear infinite;
}

.save-progress-text::after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid red;

  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
}

@media (min-width: 768px) {
  .save-progress-text {
    transform-origin: center calc(100% + 2rem);
  }
}

@keyframes rotate {
  97% {
    transform: translateX(-50%) translateY(-100%) rotate(0deg);
  }
  98% {
    transform: translateX(-50%) translateY(-100%) rotate(-3deg);
  }
  99% {
    transform: translateX(-50%) translateY(-100%) rotate(3deg);
  }
  100% {
    transform: translateX(-50%) translateY(-100%) rotate(0deg);
  }
}

.login-popup {
  background-color: hsl(255.6, 64%, 15%);
  box-shadow:
    0 5px 0 0 hsl(255.6, 64%, 10%),
    inset 0px 1px 0 0px rgba(255, 255, 255, 0.2);
}

.secondary-display {
  background-color: var(--secondary-background-color);
  box-shadow:
    0 5px 0 0 hsl(255.6, 64%, 13%),
    inset 0px 1px 0 0px rgba(255, 255, 255, 0.1);
}

.category-selector {
  box-shadow:
    0 5px 0 0 hsl(255.6, 64%, 10%),
    inset 0px 0.2vh 0 0 rgba(255, 255, 255, 0.2);
}

.category-selector.selected {
  box-shadow:
    0 5px 0 0 hsl(255.6, 64%, 5%),
    inset 0px 1px 0 0px rgba(255, 255, 255, 0.2);
}

/* .category-button-progress {
  --category-button-progress: 30%;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(100% - var(--category-button-progress)),
    hsl(var(--theme-accent-color), 0.2)
      calc(100% - var(--category-button-progress))
  );
} */
