@import 'tailwindcss';

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
    /* color: #333; */
  }

  #root {
    padding: 1rem;
    height: 100dvh;
    margin: 0;
    font-family:
      -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: hsl(255.6, 64%, 15%);
    color: var(--color-base-text-color);
  }

  img {
    user-select: none;
  }
}

@theme {
  --color-theme-accent-color: hsl(45, 100%, 50%);
  --color-base-text-color: hsl(60, 30%, 96.08%);

  --color-first-winner-background-from: hsl(50.6, 100%, 50%);
  --color-first-winner-background-to: hsl(50.6, 100%, 40%);
  --color-second-winner-background-from: hsl(0, 0%, 50%);
  --color-second-winner-background-to: hsl(0, 0%, 40%);
  --color-third-winner-background-from: hsl(29.8, 60.8%, 50%);
  --color-third-winner-background-to: hsl(29.8, 60.8%, 40%);

  --color-answer-button-inactive: hsl(249.78, 61.33%, 29.41%);
  --color-answer-button-inactive-shadow: hsl(249.78, 61.33%, 19.41%);
  --color-answer-button-hover: hsl(249.78, 61.33%, 39.41%);
  --color-answer-button-hover-shadow: hsl(249.78, 61.33%, 29.41%);
  --color-answer-button-active: hsl(218.59, 87.67%, 55.49%);
  --color-answer-button-active-shadow: hsl(218.59, 87.67%, 45.49%);

  --color-answer-correct: hsl(140, 70%, 45%);
  --color-answer-correct-percentage: hsl(140, 70%, 55%);
  --color-answer-correct-shadow: hsl(140, 70%, 35%);
  --color-answer-incorrect: hsl(345, 75%, 40%);
  --color-answer-incorrect-percentage: hsl(345, 75%, 50%);
  --color-answer-incorrect-shadow: hsl(345, 75%, 30%);

  --color-secondary-accent: hsl(255.6, 64%, 40%);
  --color-secondary-background-color: hsl(255.6, 64%, 20%);

  --animate-fade-in: fadeIn 0.5s ease-in-out forwards;
  --animate-fade-in-slide: fadeInSlide 0.5s ease-in-out forwards;

  @keyframes fadeInSlide {
    0% {
      opacity: 0;
      transform: translateY(-30%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
