@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  padding: 2rem;
  height: 100dvh;
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: hsl(255.6, 64%, 15%);
  color: var(--base-text-color);
}

@media (width < 600px) {
  body {
    padding: 0.5rem;
  }
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --theme-accent-color: 45, 100%, 50%;
  --base-text-color: hsl(60, 30%, 96.08%);

  --answer-button-inactive: hsl(249.78, 61.33%, 29.41%);
  --answer-button-inactive-shadow: hsl(249.78, 61.33%, 19.41%);
  --answer-button-hover: hsl(249.78, 61.33%, 39.41%);
  --answer-button-hover-shadow: hsl(249.78, 61.33%, 29.41%);
  --answer-button-active: hsl(218.59, 87.67%, 55.49%);
  --answer-button-active-shadow: hsl(218.59, 87.67%, 45.49%);

  --answer-correct: hsl(140, 70%, 45%);
  --answer-correct-percentage: hsl(140, 70%, 55%);
  --answer-correct-shadow: hsl(140, 70%, 35%);
  --answer-incorrect: hsl(345, 75%, 40%);
  --answer-incorrect-percentage: hsl(345, 75%, 50%);
  --answer-incorrect-shadow: hsl(345, 75%, 30%);

  --secondary-background-color: hsl(255.6, 64%, 20%);
}
